* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    display: flex;
    width: 100%;
    background-color: #e3e3e3;
    justify-content: center;
}

.logo {
    width: 175px;
    padding: 10px 0;
}

.link-section {
    margin-left: 10%;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    padding: 18px 30px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 17px;
    color: #000000;
    transition: all .5s ease;
}

.nav-links li a:hover {
    color: grey;
}

.toggle-button {
    display: none;
}

.toggle-button div{
    margin: 5px;
    background-color: #000000;
    width: 30px;
    height: 3px;
    transition: all 0.5s ease;
}

.toggle .line1 {
   transform: rotate(-45deg) translate(-5px, 6px); 
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Startseite */
.commercial-container {
    width: 100%;
    margin-bottom: 100px;
}

.commercial-img {
    width: 100%;
    height: 750px;
    object-fit: cover;
    object-position: 100% 0;
}

.commercial-text {
    width: 80%;
    margin: 100px auto;
    text-align: center;
    color: #000000;
    font-size: 30px;
    font-weight: bold;
}

.game-login-container {
    width: 50%;
    margin: 25px 10% 100px 25%;
}

hr {
    margin: 10px 0;
}

.game-text {
    margin: 10px 0;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container input {
    margin: 7.5px 0;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #292c2f;
    padding-left: 10px;
}

.input-container button {
    height: 30px;
    margin-top: 7.5px;
    border-radius: 5px;
    border: 1px solid #292c2f;
    background-color: #292c2f;
    color: #ebebeb;
}


/* Shop Seite */
.shoe-section {
    display: flex;
    flex-direction: row;
    margin: 0 10%;
}

.information-section {
    order: 2;
    width: 40%;
    margin-top: 10%;
}

.information-section h1 {
    font-weight: 800;
}

.information-section p {
    font-size: 20px;
    margin-top: 2%;
}

.information-section p span {
    color: #808080;
    margin-left: 10px;
    font-size: 14px;
}

.rating {
    margin-top: 5%;
    display: flex;
}

.rating img {
    width: 25px;
    margin-right: 1%;
}

.img-section {
    width: 55%;
    margin-right: 5%;
    overflow: hidden;
}

.img-section img {
    width: 90%;
}

.image-row {
    display: flex;
    margin-left: 15%;
    margin-top: 0;
}

.image-row img {
    width: 150px;
}

.color-section {
    margin-top: 7%;
}

.color-section p {
    font-size: 15px;
}

.select-section {
    margin-top: 7%;
    flex-direction: row;
}

select {
    width: 330px;
    height: 40px;
    font-size: 15px;
    padding-left: 10px;
    background-color: #ebebeb;
    border: none;
}

.warenkorb {
    margin-top: 1%;
    height: 40px;
    width: 330px;
    border: 1px solid #808080;
    transition: .5s ease;
}

.warenkorb:hover {
    background-color: #c4c4c4;
}

.description {
    margin-top: 10%;
    width: 400px;
}

.description h3 {
    font-size: 18px;
}

.description p {
    font-size: 14px;
}

figure.zoom img {
    transition: opacity 0.5s;
    display: block;
    width: 100%;
  }
  
  figure.zoom img:hover {
    opacity: 0;
  }

  .Footer {
    margin-top: 100px;
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .Footer-Unten {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  
  .Footer-Info {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .Footer-Infos {
      font-size: 15px;
      color: #ffffff;
      margin: 0 0 10px;
      padding: 0;
      display: flex;
      justify-content: center;
      text-align: center;
    }

@media (max-width: 768px) {
    .header {
        justify-content: space-between;
    }

    .logo {
        margin-left: 40px;
        padding-top: 15px;
    }
    
    .nav-links {
        display: none;
    }
    
    .toggle-button {
        display: block;
        transition: .6s;
        margin-top: 18px;
        margin-right: 40px;
    }

    /* Startseite */   
    .img1 {
        object-position: 37% 0;
    }

    .img2 {
        object-position: 80% 0;
    }
    
    .commercial-text {
        margin: 100px auto;
        font-size: 25px;
        font-weight: bold;
    }

    .game-login-container {
        width: 60%;
        margin: 50px 20% 100px 20%;
    }
    
    hr {
        margin: 10px 0;
    }
    
    .game-text {
        margin: 10px 0;
    }
    
    .input-container {
        display: flex;
        flex-direction: column;
    }
    
    .input-container input {
        margin: 7.5px 0;
        height: 35px;
        border-radius: 5px;
        border: 1px solid #292c2f;
        padding-left: 10px;
    }
    
    .input-container button {
        height: 35px;
        margin-top: 7.5px;
        border-radius: 5px;
        border: 1px solid #292c2f;
        background-color: #292c2f;
        color: #ebebeb;
    }

    /* Schuh Seite */
    .shoe-section {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .information-section {
        order: 2;
        width: 80%;
        margin: 50px 10% 50px 10%;
    }

    .information-section h1 {
        font-size: 22px;
        margin-bottom: 5px;
    }

    .information-section p {
        font-size: 15px;
    }

    .information-section p span {
        color: #808080;
        margin-left: 5px;
        font-size: 12px;
    }

    .rating {
        display: flex;
        flex-direction: row;
    }

    .rating img {
        width: 15px;
        margin-right: 0.5%;
    }

    .color-section {
        margin: 20px 0 10px 0;
    }

    .select-section {
        margin: 20px 0 20px;
        display: flex;
        flex-direction: column;
    }

    .select-section select {
        margin-bottom: 10px;
        height: 30px;
    }

    .select-section button {
        height: 30px;
    }

    .img-section figure img {
        width: 100%;
    }

    .image-row {
        order: 1;
    }

    .image-row img {
        width: 25%;
        margin-left: 4.5%;
    }

    figure.zoom img {
        background-image: none;
        transition: opacity 0.5s;
        display: block;
        width: 100%;
      }
      
      figure.zoom img:hover {
        opacity: 1;
      }
}

@media (max-width: 414px) {
    .logo {
        padding-top: 15px;
        width: 150px;
    }

    .nav-links {
        display: none;
    }

    .toggle-button {
        margin-top: 15px;
    }

    /* Startseite */

    .commercial-container {
        width: 100%;
    }
    
    .commercial-img {
        width: 100%;
        object-fit: cover;
    }

    .img1 {
        object-position: 35% 0;
    }

    .img2 {
        object-position: 72% 0;
    }
    
    .commercial-text {
        width: 80%;
        margin: 100px auto;
        text-align: center;
        color: #000000;
        font-size: 20px;
        font-weight: bold;
    }

    .game-login-container {
        width: 80%;
        margin: 50px 10% 100px 10%;
    }
    
    hr {
        margin: 10px 0;
    }
    
    .game-text {
        margin: 10px 0;
    }
    
    .input-container {
        display: flex;
        flex-direction: column;
    }
    
    .input-container input {
        margin: 7.5px 0;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #292c2f;
        padding-left: 10px;
    }
    
    .input-container button {
        height: 30px;
        margin-top: 7.5px;
        border-radius: 5px;
        border: 1px solid #292c2f;
        background-color: #292c2f;
        color: #ebebeb;
    }

    /* Schuh Seite */
    .shoe-section {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .information-section {
        order: 2;
        width: 80%;
        margin: 50px 10% 50px 10%;
    }

    .information-section h1 {
        font-size: 22px;
        margin-bottom: 5px;
    }

    .information-section p {
        font-size: 15px;
    }

    .information-section p span {
        color: #808080;
        margin-left: 5px;
        font-size: 12px;
    }

    .rating {
        display: flex;
        flex-direction: row;
    }

    .rating img {
        width: 15px;
        margin-right: 0.5%;
    }

    .color-section {
        margin: 20px 0 10px 0;
    }

    .select-section {
        margin: 20px 0 20px;
        display: flex;
        flex-direction: column;
    }

    .select-section select {
        margin-bottom: 10px;
        height: 30px;
    }

    .select-section button {
        height: 30px;
    }

    .img-section figure img {
        width: 100%;
    }

    .image-row {
        order: 1;
    }

    .image-row img {
        width: 25%;
        margin-left: 4.5%;
    }

    figure.zoom img {
        background-image: none;
        transition: opacity 0.5s;
        display: block;
        width: 100%;
      }
      
      figure.zoom img:hover {
        opacity: 1;
      }
}
