* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    display: flex;
    width: 100%;
    background-color: #e3e3e3;
    justify-content: center;
}

.logo {
    width: 175px;
    padding: 10px 0;
}

.link-section {
    margin-left: 10%;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    padding: 18px 30px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 17px;
    color: #000000;
    transition: all .5s ease;
}

.nav-links li a:hover {
    color: grey;
}

.toggle-button {
    display: none;
}

.toggle-button div{
    margin: 5px;
    background-color: #000000;
    width: 30px;
    height: 3px;
    transition: all 0.5s ease;
}

.toggle .line1 {
   transform: rotate(-45deg) translate(-5px, 6px); 
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 768px) {
    .header {
        justify-content: space-between;
    }

    .logo {
        margin-left: 40px;
        padding-top: 15px;
    }
    
    .nav-links {
        display: none;
    }
    
    .toggle-button {
        display: block;
        transition: .6s;
        margin-top: 18px;
        margin-right: 40px;
    }
}

@media (max-width: 414px) {
    .logo {
        padding-top: 15px;
        width: 150px;
    }

    .nav-links {
        display: none;
    }

    .toggle-button {
        margin-top: 15px;
    }
}